$main-font: 'Raleway', sans-serif;
$main-color: #576fff6e;
$sub-color: #9ef7d8e3;
$max-content-width: 1000px;
$button-text-color: mintcream;

body {
    background-color: #6b87ff24;
}

h1 {
    font-family: $main-font;
    text-align: center;
    }

.list {
    display:flex;
    width: 100%;
    justify-content: center;
    flex-direction: reverse-row;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    list-style: none;
    margin-right: 5px;

    h4 {
        text-align: center;
        }

    li {
        width: 260px;
        margin: 20px;
        text-align: justify;
        border-style: solid;
        border-radius: 5px;
        background-color: white;

        p {
            font-size: 14px;
            width:97%;
            margin-inline-start: 3px;
            }
        }
    img {
        display:block;
        width:100%;
        }
}

@mixin standardWidth {
    @media all and (min-width: $max-content-width) {
        width: 1100px;
        margin: auto;
    }
}

@mixin standardTable {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-family: $main-font;
    @include standardWidth;
}

@mixin normalButton {
    border-radius: 10px;
    color: $button-text-color;
    background-color: $main-color;
}

@mixin formError {
    margin: 0px;
    display: hidden;
    font-size: 13px;
    color: red;
}


