$main-font: 'Raleway', sans-serif;
$main-color: #9ef7d8e3;
$sub-color: #9ef7d8e3;
$max-content-width: 920px;

body {
    background-color: #fbfbf0;
}

h1 {
    font-family: $main-font;
    text-align: center;
    }

.list {
    display:flex;
    width: 100%;
    justify-content: center;
    flex-direction: reverse-row;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    list-style: none;
    margin-right: 5px;

    h4 {
        text-align: center;
        }

    li {
        width: 280px;
        margin: 10px;
        text-align: justify;
        border-style: solid;
        border-radius: 5px;

        p {
            font-size: 14px;
            width:97%;
            margin-inline-start: 3px;
            }
        }
    img {
        display:block;
        width:100%;
        }
}

@mixin standardWidth {
    @media all and (min-width: 1000px) {
        width: 920px;
        margin: auto;
    }
}

@mixin standardTable {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-family: $main-font;
    @include standardWidth;
}


