@use 'general';

$nav-font: 'McLaren', cursive;

nav {
    border-radius: 25px;
    background-color: general.$main-color;
    padding: 15px 0;

    font-family: $nav-font;
    text-align: center;

    a {
        color: mintcream;
        margin: 10px;
        text-decoration: none;
        line-height: 2;
        font-size: 15px;

        &:hover {
            color: black;
        }
    }

    @include general.standardWidth;
}

