<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles/allPosts.css"/>

    <title>All Posts :: My🙂Face</title>
</head>

<body>

<header>
    <nav th:replace="fragments/navbar.html :: navbar(pageName='all_posts')"></nav>
</header>

<h1>All Posts</h1>

<section class="all-posts">
    <ul class="list">
        <li th:each="post : ${model.posts}">
        <h4><span th:text="${post.sender.displayName}">Sender Name</span>
            <span th:text=" to">To</span>
            <span th:text="${post.receiver.displayName}">Receiver Name</span>
        </h4>
        <img th:src="${post.image}" class="postImage" alt="post image"></p>
        <p th:text="${post.message}">Message</p>
        </li>
    </ul>
</section>

</body>

</html>