<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles/navbar.css"/>
    <title>Create post :: My🙂Face</title>
</head>

<body>
<header>
    <nav th:insert="fragments/navbar.html :: navbar(pageName='create_post')"></nav>
</header>
<h1>Create new post</h1>
<section class="create-post">
    <h2>Fill out the form below to create a new post:</h2>
    <form th:action="@{/posts/create}" method="post">
            <label for ="usernameFrom">Username from</label>
            <br>
        <select id="usernameFrom">
            <option th:each="user : ${model.users}" th:value="${user.id}" th:text="${user.displayName}"></option>
        </select>
            <br>
            <br>
            <label for ="usernameTo">Username to</label>
            <br>
        <select id="usernameTo">
            <option th:each="user : ${model.users}" th:value="${user.id}" th:text="${user.displayName}"></option>
        </select>
            <br>
            <br>
            <label for ="image">Image</label>
            <br>
            <input id="image" type="text" name="image">
            <br>
            <br>
            <label for ="message">Message</label>
            <br>
            <input id="message" type="text" name="message">
            <br>
            <br>
            <span><!-- spacer --></span>
            <input type="submit" value="Submit" />
    </form>
</section>
</body>
</html>